.header {
  position: relative;
}

.Layout nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: rgb(197, 105, 162);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.Layout nav button {
  padding: 0.7rem 1.7rem;
  font-weight: bold;
}

.Layout nav button:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.grow {
  color: rgb(50, 11, 52);
}

.new_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightcoral;
  height: 100vh;
}
.input {
  width: 50%;
  border-radius: 12px;
  font-size: 5em;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: lightcyan;
}

.input_title {
  width: 100%;
  font-size: 5em;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.buttons {
  width: 20%;
  font-size: 2em;
  margin-top: 40px;
  border-radius: 12px;
  align-items: center;
}

.questions {
  background-color: lightcoral;
  justify-content: center;
}

.question_title {
  font-size: 5em;
}

.list_item {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.question_card {
  width: auto;
  align-items: center;
}

.counter, .date {
  text-align: center;
}

